
  background-color: black;
  position: relative;
  top: 60px;
  right: -60px;
  float : right;
  margin: 0, 0 , 0 , 0;
}

#photocaptionleft{
  background-color: black;
  position: relative;
  top: 60px;
  right: -60px;
  float : left;
  margin: 0, 0 , 0 , 0;
}

#textcaptionright{
  text-align: right;
}

#textcaptionleft{
  text-align: left;
}

#photo{
  z-index: -1
}