<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>

    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">

    <script type=text/javascript src="../static/js/jquery.js"></script>

    <link media="screen" rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href="../static/js/bootstrap.min.js">

    <link rel="stylesheet" href="../static/css/bootstrap-responsive.css">    
    <link href="../static/js/bootstrap.js">

    
    <link rel="stylesheet" href="../static/css/lightbox.css">
    <link href="../static/js/lightbox.js">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- files created by me !-->
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/Portfolio.css">
    <link rel="stylesheet" href="../static/js/Portfolio.js">
    
</head>
<body>
    


</div>

    <script src="../static/js/lightbox.js"></script> <!-- for the carousel -->
    <script src="../static/js/bootstrap.min.js"></script>


</body>
</html>