<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>

    <link rel="stylesheet" href="blah.css">


    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:700italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/timeline/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="../static/css/timeline/style.css"> <!-- Resource style -->
    <script src="../static/js/timeline/js/modernizr.js"></script> <!-- Modernizr -->


    <script type=text/javascript src="../static/js/jquery.js"></script>


    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- files created by me !-->
   <!--  <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/Portfolio.css">
    <link rel="stylesheet" href="../static/js/Portfolio.js"> -->
    
</head>
<body>

<div class="cd-projects-container">
<button class="cd-nav-trigger">Menu<span aria-hidden="true" class="cd-icon"></span></button>
<nav class="cd-primary-nav">
        <ul>
            <li class="cd-label">Navigation</li>
            <li><a href="#0">The team</a></li>
            <li><a href="#0">Our services</a></li>
            <li><a href="#0">Our projects</a></li>
            <li><a href="#0">Contact us</a></li>
        </ul>
    </nav> 
    <!-- .cd-primary-nav -->
        <ul>
            <li class="single-project">
                <div class="cd-title">
                    <h2>Project1</h2>
                </div> <!-- .cd-title -->

                <div class="cd-project-info">
                    <button class="cd-scroll">Scroll down</button>
                    
                    <div class="content-wrapper">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                        </p>
                    </div>
                </div> <!-- .cd-project-info -->
            </li>

            <li class="single-project">
                <div class="cd-title">
                    <h2>Project 2</h2>
                </div> <!-- .cd-title -->

                <div class="cd-project-info">
                    <button class="cd-scroll">Scroll down</button>

                    <div class="content-wrapper">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur 
                        </p>
                    </div>
                </div> <!-- .cd-project-info -->
            </li>

            <li class="single-project">
                <div class="cd-title">
                    <h2>Project 3</h2>
                </div> <!-- .cd-title -->

                <div class="cd-project-info">
                    <button class="cd-scroll">Scroll down</button>
                    
                    <div class="content-wrapper">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur 
                        </p>
                    </div>
                </div> <!-- .cd-project-info -->
            </li>
        </ul>
</div> <!-- .cd-projects-container -->

 <script src="../static/js/bootstrap.min.js"></script>
 <script src="../static/js/jquery.js"></script>
 <script src="../static/js/landingpage.js"></script>
</body>
</html>