<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Homepage</title>
    <meta charset="utf-8"/>
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:700italic,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/timeline/style.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/timeline/reset.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/landingpage.css' )}}">
    <script src="{{url_for('static',filename='js/timeline/js/modernizr.js')}}"></script>

    <script src="{{url_for('static',filename='js/jquery.js')}}"></script>

    <!-- Files created by me -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='menustyle.css') }}"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/lightbox.css') }}">
    <link href="{{url_for('static',filename='js/lightbox.js') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/latest.css' )}}">
    <script src="{{url_for('static',filename='js/npm.js')}}"></script>
    <script src="{{url_for('static', filename='js//timeline/js/modernizr.js') }}"></script>


</head>
<body>



<div class="cd-projects-container">
    <button class="cd-nav-trigger">Menu<span aria-hidden="true" class="cd-icon"></span></button>
    <nav class="cd-primary-nav">
        <ul>
            <li class="cd-label">Navigation</li>
            <li><a href="{{url_for('highlights') }}">Highlights</a></li>
            <li><a href="{{url_for('portfolio') }}">Portfolio</a></li>
            <li><a href="{{url_for('latest') }}">Latest</a></li>

        </ul>
    </nav> 
    <!-- .cd-primary-nav -->
        <ul>
            <li class="single-project">
                <div class="cd-title">
                    <h2>Portfolio</h2>
                </div> <!-- .cd-title -->

                <div class="cd-project-info nopadding">
                    <button class="cd-scroll">Scroll down</button>
                    <div class="content-wrapper container-fluid nopadding" >

                                    
                                            <div class="row col-lg-12 col-md-11 nopadding offs">
                                                                                            
                                                                <div class="carousel-item col-lg-4 col-md-4 col-sm-12 col-xs-12 nopadding" id="rowpic">
                                                                          <div class=" card card-block nopadding" >
                                                                              <a href="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" class="image" data-title="My caption" data-lightbox="Portfolio">
                                                                                <img class="img-thumbnail nopadding" src="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" >
                                                                              </a>
                                                                          </div>                      
                                                                </div>  <!-- end of pic -->
                                                                

                                                                <div class=" carousel-item col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding" id="rowpic">
                                                                          <div class=" card card-block nopadding" >
                                                                              <a href="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" class="image" data-title="My caption" data-lightbox="Portfolio">
                                                                                <img class="img-thumbnail nopadding" src="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" >
                                                                              </a>
                                                                          </div>                      
                                                                </div>  <!-- end of pic -->

                                                                <div class=" carousel-item col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding" id="rowpic">
                                                                          <div class=" card card-block nopadding" >
                                                                              <a href="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" class="image" data-title="My caption" data-lightbox="Portfolio">
                                                                                <img class="img-thumbnail nopadding" src="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" >
                                                                              </a>
                                                                          </div>                      
                                                                </div>  <!-- end of pic -->
                                                        
                                                                <div class=" carousel-item col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding" id="rowpic">
                                                                          <div class=" card card-block nopadding" >
                                                                              <a href="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" class="image" data-title="My caption" data-lightbox="Portfolio">
                                                                                <img class="img-thumbnail nopadding" src="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" >
                                                                              </a>
                                                                          </div>                      
                                                                </div>  <!-- end of pic -->
                                                                                            
                                                                <div class=" carousel-item col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding" id="rowpic">
                                                                          <div class=" card card-block nopadding" >
                                                                              <a href="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" class="image" data-title="My caption" data-lightbox="Portfolio">
                                                                                <img class="img-thumbnail nopadding" src="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" >
                                                                              </a>
                                                                          </div>                      
                                                                </div>  <!-- end of pic -->
                                            
                                                                <div class=" carousel-item col-lg-2 col-md-2 col-sm-12 col-xs-12 nopadding" id="rowpic">
                                                                          <div class=" card card-block nopadding" >
                                                                              <a href="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" class="image" data-title="My caption" data-lightbox="Portfolio">
                                                                                <img class="img-thumbnail nopadding" src="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" >
                                                                              </a>
                                                                          </div>                      
                                                                </div>  <!-- end of pic -->

                                                

                                                                <div class="carousel-item col-lg-6 col-md-6 col-sm-12 col-xs-12 nopadding " id="rowpic">
                                                                          <div class=" card card-block nopadding" >
                                                                              <a href="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" class="image" data-title="My caption" data-lightbox="Portfolio">
                                                                                <img class="img-thumbnail nopadding" src="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" >
                                                                              </a>
                                                                          </div>                      
                                                                </div>  <!-- end of pic -->
                                            </div> <!-- end of child row -->
                    </div>
                </div> <!-- .cd-project-info -->
            </li>

            <li class="single-project">
                <div class="cd-title">
                    <h2>Timeline</h2>
                </div> <!-- .cd-title -->

                <div class="cd-project-info">
                    <button class="cd-scroll">Scroll down</button>
                    <div class="content-wrapper">
                        <h4> Text Description </h4>
                        </br>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis aute irure dolor in reprehenderit in voluptate velit.
                            Qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit. Et harum quidem rerum facilis est et expedita distinctio. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                            Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                            Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Fugiat quo voluptas nulla pariatur? Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa. Nihil molestiae consequatur, vel illum qui dolorem eum. Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Animi, id est laborum et dolorum fuga.
                        </p>

                    </div> <!-- end of content wrapper -->
                </div> <!-- .cd-project-info -->
            </li>

            <li class="single-project">
                <div class="cd-title">
                    <h2>Hightlight 3</h2>
                </div> <!-- .cd-title -->

                <div class="cd-project-info">
                    <button class="cd-scroll">Scroll down</button>
                    
                    <div class="content-wrapper">
                            <div class="jumbotron">
                                <h3>Some text insided well/Jumbotron to draw attention</h3>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                            </div>
                    </div>
                </div> <!-- .cd-project-info -->
            </li>
        </ul>
</div> <!-- .cd-projects-container -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/landingpage.js')}}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/timeline/js/main.js') }}"></script>
<script src="{{url_for('static',filename='js/lightbox.js')}}"></script> <!-- for the carousel -->

   <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });    
    </script>
<!--
 <script src="../static/js/bootstrap.min.js"></script>
 <script src="../static/js/jquery.js"></script>
 <script src="../static/js/landingpage.js"></script>-->
</body>    


</html>