<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Homepage</title>
    <meta charset="utf-8"/>
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:700italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{url_for('static',filename='css/timeline/style.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/timeline/reset.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/landingpage.css' )}}">
    <script src="{{url_for('static',filename='js/timeline/js/modernizr.js')}}"></script>

    <script src="{{url_for('static',filename='js/jquery.js')}}"></script>


</head>
<body>
<div class="cd-projects-container">
<button class="cd-nav-trigger">Menu<span aria-hidden="true" class="cd-icon"></span></button>
<nav class="cd-primary-nav">
        <ul>
            <li class="cd-label">Navigation</li>
            <li><a href="#0">Blah1</a></li>
            <li><a href="#0">Blah2</a></li>
            <li><a href="#0">Blah 3</a></li>
            <li><a href="#0">Connect with me</a></li>
        </ul>
    </nav> 
    <!-- .cd-primary-nav -->
        <ul>
            <li class="single-project">
                <div class="cd-title">
                    <h2>Higlight 1</h2>
                </div> <!-- .cd-title -->

                <div class="cd-project-info">
                    <button class="cd-scroll">Scroll down</button>
                    <div class="content-wrapper">
                    <a><i href="#" id="seemore" class="fa fa-bars" ></i></a>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                        </p>
                    </div>
                </div> <!-- .cd-project-info -->
            </li>

            <li class="single-project">
                <div class="cd-title">
                    <h2>Timeline</h2>
                </div> <!-- .cd-title -->

                <div class="cd-project-info">
                    <button class="cd-scroll">Scroll down</button>

                    <div class="content-wrapper">
                    <a><i href="#" id="seemore" class="fa fa-bars" ></i></a>
    
            <div class="jumbotron jumbotron-fluid">
                <!-- <header>
                        <h1> Timeline And Highlights</h1>
                </header>    -->         
                <div class="container">
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="{{url_for('static',filename='img/cd-icon-picture.svg')}}" alt="Picture">
                            </div> 
                            <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                <h2>Blah Title 1</h2>
                                <p>Lorem ipsum dolor sit amet</p>
                                <a href="#0" class="cd-read-more">Read more</a>
                                <span class="cd-date">Jan 14</span>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-movie">
                                <img src="{{url_for('static',filename='img/cd-icon-movie.svg')}}" alt="Movie">
                            </div> <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                <h2>Blah titel 2</h2>
                                <p>Lorem ipsum dolor sit amet?</p>
                                <a href="#0" class="cd-read-more">Read more</a>
                                <span class="cd-date">Jan 18</span>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="{{url_for('static',filename='img/cd-icon-picture.svg')}}" alt="Picture">
                            </div> <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                <h2>Blah title 3</h2>
                                <p>Lorem ipsum.</p>
                                <a href="#0" class="cd-read-more">Read more</a>
                                <span class="cd-date">Jan 24</span>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-location">
                                <img src="{{url_for('static',filename='img/cd-icon-location.svg')}}" alt="Location">
                            </div> <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                <h2>Blah title 4</h2>
                                <p>Lorem ipsum dolor sit amet.</p>
                                <a href="#0" class="cd-read-more">Read more</a>
                                <span class="cd-date">Feb 14</span>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-location">
                                <img src="{{url_for('static',filename='img/cd-icon-location.svg')}}" alt="Location">
                            </div> <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                <h2>Blah title 5</h2>
                                <p>Lorem ipsum dolor sit</p>
                                <a href="#0" class="cd-read-more">Read more</a>
                                <span class="cd-date">Feb 18</span>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-movie">
                                <img src="{{url_for('static',filename='img/cd-icon-movie.svg')}}" alt="Movie">
                            </div> <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">
                                <h2>Final Blah</h2>
                                <p>This is the content of the last section</p>
                                <span class="cd-date">Feb 26</span>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->
                    </section> <!-- cd-timeline -->
                    
                </div>
            </div>



                        <p>
                            Lorem ipsum dolor sit amet, consectetur 
                        </p>
                    </div>
                </div> <!-- .cd-project-info -->
            </li>

            <li class="single-project">
                <div class="cd-title">
                    <h2>Hightlight 3</h2>
                </div> <!-- .cd-title -->

                <div class="cd-project-info">
                    <button class="cd-scroll">Scroll down</button>
                    
                    <div class="content-wrapper">
                    <a><i href="#" id="seemore" class="fa fa-bars" ></i></a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur 
                        </p>
                    </div>
                </div> <!-- .cd-project-info -->
            </li>
        </ul>
</div> <!-- .cd-projects-container -->
<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/landingpage.js')}}"></script>
<!-- 
 <script src="../static/js/bootstrap.min.js"></script>
 <script src="../static/js/jquery.js"></script>
 <script src="../static/js/landingpage.js"></script> -->
</body>    


</html>