<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latest</title>
    <meta charset="utf-8"/>
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">

    <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css') }}">
    <link href="{{url_for('static',filename='js/bootstrap.min.js') }}">
    <link href="{{url_for('static',filename='css/bootstrap-responsive.css') }}">
    <link href="{{url_for('static',filename='js/bootstrap.js') }}">
    <link href="{{url_for('static',filename='css/bootstrap-theme.css') }}">
    <link href="{{url_for('static',filename='css/bootstrap-theme.min.css') }}">
    <link href="{{url_for('static',filename='css/bootstrap-theme.css.map') }}">
    <link href="{{url_for('static',filename='css/bootstrap-theme.min.css.map') }}">
	<!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css') }}"> -->

	<link rel="stylesheet" href="{{url_for('static',filename='css/lightbox.css') }}">
    <link href="{{url_for('static',filename='js/lightbox.js') }}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/latest.css' )}}">

</head>
<body>
	<div class="jumbotron " style="background-color: grey">
		<div class="row nopadding">
    		<div class=" carousel-item col-lg-3 col-md-3 col-sm-12 col-xs-12 nopadding" id="rowpic">
					  <div class=" card card-block nopadding" >
						  <a href="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" class="image" data-title="My caption" data-lightbox="Portfolio">
						  	<img class="img-thumbnail nopadding" src="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" >
						  </a>
					  </div>					  
    		</div>  <!-- end of pic -->

    		<div class=" carousel-item col-lg-3 col-md-3 col-sm-6 col-xs-12 nopadding" id="rowpic">
					  <div class=" card card-block nopadding">
						  <a href="{{url_for('static',filename='css/Images/Portfolio/06.jpg')}}" class="image" data-title="My caption" data-lightbox="Portfolio">
						  	<img class="img-thumbnail nopadding" src="{{url_for('static',filename='css/Images/Portfolio/06.jpg')}}" >
						  </a>
					  </div>					  
    		</div> <!-- end of pic -->

    		<div class=" carousel-item col-lg-3 col-md-3 col-sm-6 col-xs-12 nopadding" id="rowpic">
					  <div class=" card card-block nopadding">
						  <a href="{{url_for('static',filename='css/Images/Portfolio/09.jpg')}}" class="image" data-title="My caption" data-lightbox="Portfolio">
						  	<img class="img-thumbnail nopadding" src="{{url_for('static',filename='css/Images/Portfolio/09.jpg')}}" >
						  </a>
					  </div>					  
    		</div> <!-- end of pic -->

    		<div  class="carousel-item col-lg-3 col-md-3 col-sm-6 col-xs-12 nopadding" id="rowpic">
					  <div class=" card card-block nopadding">
						  <a href="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" class="image" data-title="My caption" data-lightbox="Portfolio">
						  	<img class="img-thumbnail nopadding" src="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" >
						  </a>
					  </div>					  
    		</div> <!-- end of pic -->    		    		
    	</div> <!-- end of row -->
		<div class="row nopadding">
    		<div class=" carousel-item col-lg-3 col-md-3 col-sm-12 col-xs-12 nopadding" id="rowpic">
					  <div class=" card card-block nopadding" >
						  <a href="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" class="image" data-title="My caption" data-lightbox="Portfolio">
						  	<img class="img-thumbnail nopadding" src="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" >
						  </a>
					  </div>					  
    		</div>  <!-- end of pic -->

    		<div class=" carousel-item col-lg-3 col-md-3 col-sm-6 col-xs-12 nopadding" id="rowpic">
					  <div class=" card card-block nopadding">
						  <a href="{{url_for('static',filename='css/Images/Portfolio/06.jpg')}}" class="image" data-title="My caption" data-lightbox="Portfolio">
						  	<img class="img-thumbnail nopadding" src="{{url_for('static',filename='css/Images/Portfolio/06.jpg')}}" >
						  </a>
					  </div>					  
    		</div> <!-- end of pic -->

    		<div class=" carousel-item col-lg-3 col-md-3 col-sm-6 col-xs-12 nopadding" id="rowpic">
					  <div class=" card card-block nopadding">
						  <a href="{{url_for('static',filename='css/Images/Portfolio/09.jpg')}}" class="image" data-title="My caption" data-lightbox="Portfolio">
						  	<img class="img-thumbnail nopadding" src="{{url_for('static',filename='css/Images/Portfolio/09.jpg')}}" >
						  </a>
					  </div>					  
    		</div> <!-- end of pic -->

    		<div  class="carousel-item col-lg-3 col-md-3 col-sm-6 col-xs-12 nopadding" id="rowpic">
					  <div class=" card card-block nopadding">
						  <a href="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" class="image" data-title="My caption" data-lightbox="Portfolio">
						  	<img class="img-thumbnail nopadding" src="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}" >
						  </a>
					  </div>					  
    		</div> <!-- end of pic -->    		    		
    	</div> <!-- end of row -->
    </div> <!-- end of jumbtron -->
</br></br>

<h2> Blud</h2>
</br>




















	<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
	<script src="{{url_for('static',filename='js/lightbox.js')}}"></script> <!-- for the carousel -->
</body>
</html>