<!DOCTYPE html>
<html lang="en">
<head>
    <title>Menu</title>
    <!-- Bootstrap paths and links-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-responsive.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-responsive.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.css') }}">

    <link rel="stylesheet" href="{{url_for('static',filename='js/bootstrap.min.js') }}">
    <link media="screen" rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Files created by me -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='menustyle.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='js/jquery.js')}}">
    <script src="{{url_for('static',filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='js/npm.js')}}"></script>

</head>

<body>
    <div id="wrapper">
        <!-- top navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">                    
           <div class="container-fluid"> 
            <!-- style="background-color: blue" --><a><i href="#menu-toggle" id="menu-toggle" class="navbar-brand fa fa-bars" style="display: inline-block; color:black; margin: 0"></i></a>
                <div class="navbar-header">
                <a class="navbar-brand" href="{{url_for('index') }}">Project name</a>
                </div>

                <a class="  navbar-brand pull-right" href="#" title="Like my page!"><i class="fa fa-facebook"></i></a>
				<a class="  navbar-brand pull-right" href="#" title="Team followback!"><i class="fa fa-twitter"></i></a>
				<a class="  navbar-brand pull-right" href="#" title="Connect!"><i class="fa fa-linkedin"></i></a>
				<a class=" navbar-brand pull-right" href="#" title="IG!"><i class="fa fa-instagram"></i></a>

           </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                 <li class="active"><a href="{{url_for('index') }}">Homepage</a></li>
                        <li><a href="{{url_for('highlights') }}">Timeline</a></li>
                        <li><a href="{{url_for('latest') }}">Latest</a></li>
                        <li><a href="{{url_for('about') }}">About</a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Shrink Width to Collapse Sidebar</h1>
                        <h2> Page content</h2>
                        <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
 <!-- #page container -->
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });    
    </script>
</body>
</html>