<!DOCTYPE html>
<html lang="en">
<head>
    <title>Menu</title>
    <!-- Bootstrap paths and links-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-responsive.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-responsive.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='js/bootstrap.min.js') }}">
    <link media="screen" rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css') }}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Files created by me -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css') }}">


</head>


<body>
   <!-- <div id="divlayer" style="background-color: blue" class="container-fluid" > -->

<div class="container-fluid">
  <div class="col-fluid">
    <div id="divlayer" style="background-color: blue" class="span2 ">
      <!--Sidebar content-->
        <button class="btn btn-primary btn-lg btn-block">Portfolio</button>
        <button class="btn btn-primary btn-lg btn-block">Highlights</button>
        <button class="btn btn-primary btn-lg btn-block">Latest</button>
        <button class="btn btn-primary btn-lg btn-block">About</button>          
    </div>

    <div id="divlayer" style="background-color: red" class="span10">
    Random  text
    </div>
 
</div>
</body>
</html>