<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-responsive.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-responsive.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='js/bootstrap.min.js') }}">
    <link media="screen" rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/lightbox.css') }}">
    <script src="{{url_for('static',filename='js/lightbox.js')}}"></script> <!-- for the carousel -->
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='Portfolio.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='js/Portfolio.js')}}">
    <script src="{{url_for('static',filename='js/Portfolio.js')}}"></script>
</head>
<body>
    <p>Portfolio page</p>
    <div class="gallery">
    	<div class="row">
    		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    		<!-- <a href="images/image-1.jpg" data-lightbox="image-1" data-title="My caption">Image #1</a> 
    			<a href="{{url_for('static',filename='css/Images/Portfolio/01.jpg')}}" class="image" data-lightbox="{{url_for('static',filename='css/Images/Portfolio/01.jpg')}}" data-title="My caption">
    			-->
    			<a href="#" class="image">
    			<img class="img-responsive" alt="1" src="{{url_for('static',filename='css/Images/Portfolio/01.jpg')}}">
    			</a>
    		</div>

    		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    			<a href="#" class="image">
    			<img class="img-responsive" alt="2" src="{{url_for('static',filename='css/Images/Portfolio/02.jpg')}}">
    			</a>
    		</div>

    		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    			<a href="#" class="image">
    			<img class="img-responsive" alt="3" src="{{url_for('static',filename='css/Images/Portfolio/03.jpg')}}">
    			</a>
    		</div>

    		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    			<a href="#" class="image">
    			<img class="img-responsive"alt="4" src="{{url_for('static',filename='css/Images/Portfolio/01.jpg')}}">
    			</a>
    		</div>
    	</div><!-- End of row 1 -->

    	<div class="row">
    		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    			<a href="#" class="image">
    			<img class="img-responsive" alt="1" src="{{url_for('static',filename='css/Images/Portfolio/02.jpg')}}">
    			</a>
    		</div>

    		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    			<a href="#" class="image">
    			<img class="img-responsive" alt="2" src="{{url_for('static',filename='css/Images/Portfolio/01.jpg')}}">
    			</a>
    		</div>

    		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    			<a href="#" class="image">
    			<img class="img-responsive" alt="3" src="{{url_for('static',filename='css/Images/Portfolio/03.jpg')}}">
    			</a>
    		</div>

    		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    			<a href="#" class="image">
    			<img class="img-responsive" alt="4" src="{{url_for('static',filename='css/Images/Portfolio/02.jpg')}}">
    			</a>
    		</div>
    	</div><!-- End of row 2 -->

    	<div class="row">
    		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    			<a href="#">
    			<img class="img-responsive" alt="1" src="{{url_for('static',filename='css/Images/Portfolio/09.jpg')}}">
    			</a>
    		</div>

    		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="background-color: yellow">
    			<a href="#" class="image">
    			<img class="img-responsive" alt="2" src="{{url_for('static',filename='css/Images/Portfolio/05.jpg')}}">
    			</a>
    		</div>

    		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    			<a href="#" class="image">
    			<img class="img-responsive" alt="3" src="{{url_for('static',filename='css/Images/Portfolio/06.jpg')}}">
    			</a>
    		</div>

    		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    			<a href="#" class="image">
    			<img class="img-responsive" alt="4" src="{{url_for('static',filename='css/Images/Portfolio/01.jpg')}}">
    			</a>
    		</div>
    	</div><!-- End of row 3 -->

</div>
<script type="text/javascript">
	$(window).load(scaleGallery);
	$(window).resize(scaleGallery);
</script>

</body>
</html>